
Elettronica_Donati/Tutorial/Ripasso_SETM.mp4
Elettronica_Donati/Video/2023-12-18 10-14-58.mkv
Elettronica_Donati/Video/2023-12-18 11-54-28.mkv
Elettronica_Donati/Video/2023-12-20 17-40-14.mkv
Elettronica_Donati/Video/2024-01-08 10-08-47.mkv
Elettronica_Donati/Video/2024-01-08 11-43-16.mkv
